body {
	background-color: #f9f9f9;
	color: #555459;
	font-family: Lato, Helvetica, sans-serif;
	font-weight: 300;
}

.main {
	max-width: 50em;
	margin: 0 auto;
	padding: 1em;
}

.card {
	background-color: #fff;
	padding: 1em;
	border-radius: .2rem;
	border: 1px solid #eee;
	margin: 0 0 1em;
}

h1 {
	margin: 0 0 0.5em;
}

#thumbnail-container {
	text-align: center;
}

.thumbnail {
	width: 15em;
	height: 15em;
	display: inline-block;
	margin: 0.25em;
}

.thumbnail img {
	width: 15em;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

#lightbox-container {
	display: table-cell;
	vertical-align: middle;
}

#lightbox {
	padding: 1em;
	background-color: #fff;
	display: inline-block;
	margin: 0 auto;
	box-shadow: 0 0 1em rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 1em rgba(0,0,0,0.5);
	position: relative;
}

#close {
	position: absolute;
	top: 0;
	right: 0.25em;
}

#prev, #next {
	font-size: 3em;
	color: rgba(255,255,255,0.5);
	position: absolute;
	top: calc(50% - 0.5em);
}

#prev:hover, #next:hover {
	color: rgba(255,255,255,1);
}

#prev {
	left: 1rem;
}

#next {
	right: 1rem;
}

#lightbox-img {
	max-width: 50em;
}

footer {
	font-size: 0.75em;
}

footer a {
	color: inherit;
}