body {
	background-color: #f9f9f9;
	color: #555459;
	font-family: Lato, Helvetica, sans-serif;
	font-weight: 300;
}

.main {
	max-width: 50em;
	margin: 0 auto;
	padding: 1em;
}

.card {
	background-color: #fff;
	padding: 1em;
	border-radius: .2rem;
  border: 1px solid #eee;
  margin: 0 0 1em;
}

h1 {
	margin: 0 0 0.5em;
}

.thumbnail-container {
	text-align: center;
}

.thumbnail {
	width: 15em;
	height: 15em;
	display: inline-block;
	margin: 0.25em;
	background: url(https://image.freepik.com/free-vector/abstract-geometric-background-in-red-and-cream-tones_1095-254.jpg) 50% 50% no-repeat;
}

.thumbnail img {
	width: 15em;
}

footer {
	font-size: 0.75em;
}

footer a {
	color: inherit;
}